<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @story.title %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @story.genre %>
</p>

<% @story.chapters.each do |chapter| %>
  <p>
    <%= link_to edit_story_chapter_path(@story.id, chapter.id) do%>
      <h3> 
        <%= chapter.part %>:<%= chapter.subtitle %>
      </h3>
    <% end %>
    <%= simple_format(chapter.parttext) %>
  </p>
  <br>
  <h3>
    <%= chapter.part %>コメント：
  </h3>
  <% chapter.comments.each do |comment| %>
    <p>
      <%= comment.commentblock %>    
    </p>
  <% end %>
  <br>
  <br>
  <br>
<% end %>


<p>
  <%= link_to 'コメント込みで閲覧する', show_comment_path(@story) %>
</p>
<p>ダウンロードする</p>


<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path %>
